<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a86dd7">  <td>18/10/11 01:49:56</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;FindingCheapDarkBlinds.closeBrowser()[pri:0, instance:tests.FindingCheapDarkBlinds@30b8a058]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@809762318</td>   <td></td> </tr>
<tr bgcolor="a86dd7">  <td>18/10/11 01:49:19</td>   <td>-36475</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FindingCheapDarkBlinds.findingCheapDarkBlinds()[pri:0, instance:tests.FindingCheapDarkBlinds@30b8a058]">findingCheapDarkBlinds</td> 
  <td>main@809762318</td>   <td></td> </tr>
</table>
